
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

.header ul li {
  display: inline;
}

.header ul li a {

  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header ul li a:hover {
  background-color: #111;
}

.centre{
  text-align: center;
  position: relative;
  top: 10px;
}

.all {

  background: black;
  color: white;
  border: black dotted 1px;
  width: 40%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 100px;
}

.price{
  margin-bottom: 50px;
  margin-top: 50px;
}

table{
  width: 100%;
}


